extends layout
block content
	div(ng-controller="setListCtrl")
		nav.navbar.navbar-inverse.navbar-fixed-top
			a(href="#").navbar-brand
				span.glyphicon.glyphicon-headphones
			ul.nav.navbar-nav
				li.active
			ul.nav.navbar-nav.navbar-right
				li: a(data-toggle="modal", href="#searchFestivalModal") Search Festival

		ul.list-group.col-lg-3(style='max-height:500px;overflow-y:scroll')
			a.list-group-item.active RockWerchter 2014 
				span.badge(ng-model="lineup.length")  {{lineup.length}}
			a.list-group-item
				input(type="search", required, placeholder="serach", ng-model='artistSearchFilter').form-control
			a.list-group-item(ng-repeat="artist in lineup | filter:artistSearchFilter", ng-click="showSetList(artist)",ng-class="{active : selectedArtist.name == artist.name}")
				{{artist.name}}

		.col-lg-5
			.panel.panel-info(ng-show="selectedArtist")
				.panel-heading
					h3(ng-if="!selectedArtist.topSongs").panel-title {{selectedArtist.name}}
					h3(ng-if="selectedArtist.topSongs").panel-title {{selectedArtist.name}} - {{selectedArtist.topSongs.len}} Songs!
					
				.panel-body
					ul.list-group(ng-if="selectedArtist.topSongs", style='max-height:400px;overflow-y:scroll')
						a.list-group-item
							input(type="search", required, placeholder="serach", ng-model='songSearchFilter').form-control
						li.list-group-item(ng-if="song !== 'len'", ng-repeat="song in selectedArtist.topSongs | orderBy:'song.timesPlayed'")
							a {{song.name}}
								span.badge.active   {{song.timesPlayed}}
							a.pull-right(ng-click="getYoutubeSongLink(selectedArtist.topSongs, song.name)", target="_blank") Listen in Youtube
								span.glyphicon.glyphicon-headphones

		#searchFestivalModal.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						h4.modal-title Search for Festival
					.modal-body
							form-horizontal
								.col-lg-5
									input.form-control(rows="5", ng-model="festivalName", placeholder="festival Name")
								.col-lg-2
									input.form-control(type="text", ng-model="festivalYear", placeholder="year")
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type="button", ng-click="searchFestival()") Submit