extends layout
block content
	div(ng-controller="setListCtrl")
		nav.navbar.navbar-inverse.navbar-fixed-top
			a(href="#").navbar-brand
				span.glyphicon.glyphicon-headphones
			ul.nav.navbar-nav
				li.active
			ul.nav.navbar-nav
				li.active
					a(data-toggle="modal", data-target="#searchFestivalModal") Search for Festival

		button(type='button', ng-click="play()").btn.btn-default button

		nav(collapse='!player.active', role="navigation").navbar.navbar-default.navbar-fixed-bottom
			youtube#youtubePlayer(style="display:none;", autoplay="{{autoplay}}", controls="1")
			ul.navbar-brand: span.glyphicon.glyphicon-step-backward(ng-click="player.commands.previous()")
			ul.navbar-brand: span.glyphicon(ng-click="player.commands.togglePlayPause()",
											ng-class='{"glyphicon-pause": player.state, "glyphicon-play" : !player.state}')
			ul.navbar-brand: span.glyphicon.glyphicon-step-forward(ng-click="player.commands.next()")
			ul.navbar-brand: span.glyphicon(ng-click="player.commands.toggleMute()",
											ng-class="{'glyphicon-volume-off': player.mute, 'glyphicon-volume-up': !player.mute}")
			ul.nav.navbar-nav
				li.active: a {{currentPlaylist[player.playlistIndex].artist}} - {{currentPlaylist[player.playlistIndex].name}}

			.pull-right
				ul.navbar-brand
					span {{player.playlistIndex+1}} \ {{currentPlaylist.length}}
				ul.navbar-brand.dropdown
					a(href="#", data-toggle="dropdown").dropdown-toggle
						span.glyphicon.glyphicon-list
					ul.dropdown-menu.dropup.pull-right(style='max-height:500px;overflow-y:scroll')
						li(ng-repeat="song in currentPlaylist | orderBy:'song.index'",
							ng-class='{active: player.playlistIndex == song.index}',
							ng-click='player.commands.jumpTo(song.index)')
							a {{song.artist}} - {{song.name}}

		ul.list-group.col-lg-3(ng-if="festivalName", style='max-height:500px;overflow-y:scroll')
			a.list-group-item.active {{festivalName}} - {{festivalYear}}
				span.badge(ng-model="lineup.length")  {{lineup.length}}
			a.list-group-item
				input(type="search", required, placeholder="serach", ng-model='artistSearchFilter').form-control
			a.list-group-item(ng-repeat="artist in lineup | filter:artistSearchFilter", ng-click="showSetList(artist)",ng-class="{active : selectedArtist.name == artist.name}")
				{{artist.name}}

		.col-lg-7
			.panel.panel-info(ng-show="selectedArtist")
				.panel-heading
					h3(ng-if="!selectedArtist.topSongs").panel-title {{selectedArtist.name}}
					h3(ng-if="selectedArtist.topSongs").panel-title
					|	{{selectedArtist.name}} - {{selectedArtist.topSongs.length}} Songs!
					a.pull-right Listen in Youtube
						span.glyphicon.glyphicon-headphones

				.panel-body
					ul.list-group(ng-if="selectedArtist.topSongs", style='max-height:400px;overflow-y:scroll')
						a.list-group-item
							input(type="search", required, placeholder="serach", ng-model='songSearchFilter').form-control
						li.list-group-item(ng-repeat="song in selectedArtist.topSongs | orderBy:'timesPlayed':true | limitTo: 15")
							a {{song.name}}
								span.badge.active   {{song.timesPlayed}}
							a.pull-right(ng-click="openYoutube(selectedArtist.name, song.name)", target="_blank")
								span.glyphicon.glyphicon-headphones
								| Listen in Youtube

		#searchFestivalModal.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						h4.modal-title Search for Festival
					.modal-body
							form-horizontal
								.col-lg-5
									input.form-control(rows="5", ng-model="festivalName", placeholder="festival Name", autofocus)
								.col-lg-2
									input.form-control(type="text", ng-model="festivalYear", placeholder="year")
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type="button", data-dismiss='modal', ng-click="getLineup()") Submit