doctype 5
html(lang='en')
  head
    meta(name='viewport', content='width=device-width')
    title= title

    block css
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
      //- link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='http://localhost:35729/livereload.js')
      script(src='/components/angular/angular.min.js')
      script(src='/components/jquery/dist/jquery.min.js')
      script(src='/components/bootstrap/dist/js/bootstrap.min.js')
      script(src='/components/angular-bootstrap/ui-bootstrap.min.js')
      script(src='http://code.angularjs.org/1.2.1/angular-animate.min.js')

      script(src='/js/app.js')
      script(src='/js/directives.js')
      script(src='/js/services.js')

  body(ng-app="setListApp", style="margin-top:70px;margin-left:30px")
    block content
